In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

from googletrans import Translator

# 전처리 가설
## shop.csv 파일을 살펴본 결과 단순한 스토어 개념이 아닌, 각 레벨 별 계층적 구조로 있는것으로 확인, 중간에는 온라인스토어또한 있어서 그에 대한 고려가 필요할듯. 

### 특히 한 컬럼으로만 되어있는 store name이 실제로는 Region을 반영한 이름이었음. 구글 번역기를 통해 영어로 번역한 후  각 store를 카테고리화홤.

In [2]:
shop_df = pd.read_csv('../data/shops_trans.csv', encoding='utf-8')
shop_df = shop_df.drop(["shop_name"], axis=1)

In [3]:
shop_df.head()

   shop_id                                en_shop
0        0       Yakutsk Ordzhonikidze, 56 francs
1        1             Yakutsk TC "Central" franc
2        2          Adygea Shopping Center "Mega"
3        3       Balashikha TRK "October-Kinomir"
4        4  Volzhsky shopping center "Volga Mall"

In [4]:
def split(name):
    sptname = name.split(' "')
    lastspt = sptname[0].split(" ")
    return lastspt[0]
shop_df["Region"] = list(map(split, shop_df.en_shop))

## 몇가지 궁금한 사항 : 아래를 보면 10번과 11번은 거의 동일해보인다. 과연 이 두 데이터는 중복되었는가? 아니면 각자의 의미가 있는것인가?

In [5]:
shop_df.iloc[8:13]

    shop_id                        en_shop     Region
8         8  Voronezh TRC City-Park "Grad"   Voronezh
9         9                 Outbound Trade   Outbound
10       10    Zhukovsky Str. Chkalov 39m?  Zhukovsky
11       11   Zhukovsky Str. Chkalov 39 m²  Zhukovsky
12       12          Online shop Emergency     Online

In [6]:
sales_df = pd.read_csv("../data/sales_train_v2.csv")

In [7]:
merged_sample = pd.merge(sales_df, shop_df, on = "shop_id")
merged_sample.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,en_shop,Region
0,02.01.2013,0,59,22154,999.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl
1,10.01.2013,0,59,22151,399.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl
2,04.01.2013,0,59,5603,699.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl
3,19.01.2013,0,59,5587,199.0,2.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl
4,31.01.2013,0,59,5613,5571.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl

In [8]:
date_df = pd.DataFrame(merged_sample["date"].str.split(".").tolist(),  columns = ['day','month','year'])
date_df.head()

  day month  year
0  02    01  2013
1  10    01  2013
2  04    01  2013
3  19    01  2013
4  31    01  2013

In [9]:
pre_data = pd.merge(merged_sample, date_df, left_index=True, right_index=True)
pre_data.head()
del pre_data["date_block_num"]
del pre_data["date"]
pre_data.head()

,shop_id,item_id,item_price,item_cnt_day,en_shop,Region,day,month,year
0,59,22154,999.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,02,01,2013
1,59,22151,399.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,10,01,2013
2,59,5603,699.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,04,01,2013
3,59,5587,199.0,2.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,19,01,2013
4,59,5613,5571.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,31,01,2013

In [10]:
AD = pd.DataFrame(pre_data.groupby(["Region", "en_shop", "year", "month"])["item_cnt_day"].sum())
AD.head()

                                                 item_cnt_day
Region en_shop                       year month
Adygea Adygea Shopping Center "Mega" 2013 01           1146.0
                                          02            488.0
                                          03            753.0
                                          04            583.0
                                          05            553.0

## moscow만 봐도 ("Moscow Shopping Center "Silver House"   / Moscow TC "Budenovskiy" (pav.A2) 연속되지 않은 데이터가 있다. 이말 인 즉슨 카테고리 코드로서는 남아있지만 폐점되었을 가능성이 있는 가게들이 있다는 것이다.

In [11]:
temp_moscow = AD[AD.index.get_level_values(0).values == "Moscow"]
pd.reset_option('display.max_rows')
temp_moscow

                                           item_cnt_day
Region en_shop                 year month
Moscow Moscow "Sale"           2014 10           3261.0
                               2015 10           2611.0
       Moscow MTRTS "Afi Mall" 2013 01           1495.0
                                    02           1854.0
                                    03           2233.0
                                    04           1846.0
                                    05           1646.0
                                    06           1912.0
                                    07           1860.0
                                    08           2061.0
                                    09           2486.0
                                    10           2015.0
                                    11           2174.0
                                    12           3623.0
                               2014 01           1844.0
                                    02           1822.0
                                    03           2088.0
                                    04           2144.0
                                    05           1909.0
                                    06           1849.0
                                    07           1603.0
                                    08           1749.0
                                    09           1897.0
                                    10           2031.0
                                    11           2222.0
                                    12           3959.0
                               2015 01           1923.0
                                    02           1839.0
                                    03           1687.0
                                    04           2053.0
...                                                 ...
       Moscow ТЦ "Семеновский" 2013 05           9423.0
                                    06          10072.0
                                    07           9500.0
                                    08           9882.0
                                    09          11204.0
                                    10          10754.0
                                    11          11710.0
                                    12          16318.0
                               2014 01          10017.0
                                    02           9728.0
                                    03           9643.0
                                    04           8897.0
                                    05           7826.0
                                    06           7701.0
                                    07           7056.0
                                    08           8248.0
                                    09           8583.0
                                    10           8457.0
                                    11           9865.0
                                    12          14610.0
                               2015 01           8815.0
                                    02           7404.0
                                    03           7294.0
                                    04           7341.0
                                    05           6327.0
                                    06           6160.0
                                    07           5987.0
                                    08           5714.0
                                    09           6505.0
                                    10           6112.0

[338 rows x 1 columns]

## 또한 Zhukovsky의 경우 코드가 두개로 붙어있는데, 한 코드의 경우 2015년 2월에 임시적으로 사용된 코드로서, 2015년 11월과 12울에는 사용되지 않을 가능성이 매우 높다.

In [12]:
AD[AD.index.get_level_values(0).values == "Zhukovsky"].head(10)

                                                   item_cnt_day
Region    en_shop                      year month
Zhukovsky Zhukovsky Str. Chkalov 39 m² 2015 02            572.0
          Zhukovsky Str. Chkalov 39m?  2013 01            935.0
                                            02           1026.0
                                            03           1017.0
                                            04            756.0
                                            05            683.0
                                            06            764.0
                                            07            800.0
                                            08            755.0
                                            09           1027.0

In [13]:
#pre_data에서 Train Code에서 year에서 2015년이 없는 SHOP을 찾고싶다! 
find2015 = AD.reset_index()
only2015 = find2015.groupby(["year", "en_shop"]).count()
only2015 = only2015[only2015.index.get_level_values(0) == '2015']

In [14]:
problem2015 = only2015[only2015["month"] < 10]
problem2015.sort_values(by=["month"])

                                                   Region  month  item_cnt_day
year en_shop
2015 Krasnoyarsk Shopping center "Vzletka Plaza"        1      1             1
     Moscow "Sale"                                      1      1             1
     Novosibirsk TRC "Gallery Novosibirsk"              1      1             1
     RostovNaDonu TRC "Megacenter Horizon" Island       1      1             1
     SPb TK "Sennaya"                                   1      1             1
     Zhukovsky Str. Chkalov 39 m²                       1      1             1
     Moscow TP TPP "Perlovski"                          2      2             2
     Outbound Trade                                     2      2             2
     Khimki ТЦ "Mega"                                   4      4             4
     Mytischi TRK "XL-3"                                4      4             4
     Moscow TC "New Century" (Novokosino)               5      5             5
     Moscow ТЦ "MEGA Belaya Dacha II"                   8      8             8
     Tyumen Shopping Center "Green Beach"               9      9             9
     Zhukovsky Str. Chkalov 39m?                        9      9             9

In [15]:
AD[AD.index.get_level_values(1).values == 'Krasnoyarsk Shopping center "Vzletka Plaza"'].tail() #1월에 폐업한듯
AD[AD.index.get_level_values(1).values == 'Moscow "Sale"'] #매년 10월에만 있음
AD[AD.index.get_level_values(1).values == 'Novosibirsk TRC "Gallery Novosibirsk"'] #2015년 10월에 첫 개장
AD[AD.index.get_level_values(1).values == 'Novosibirsk TRC "Gallery Novosibirsk"'] #2015년 10월에 첫 개장

                                                              item_cnt_day
Region      en_shop                               year month
Novosibirsk Novosibirsk TRC "Gallery Novosibirsk" 2015 10            330.0

## 총 60개가 있던 Shoplist들 중에, 2015년이 있는것들은 54개, 
## 그중에서 10개가 안되는 것은 14개나 된다. 
## 대체 무슨일이있던거야...

In [16]:
shop_df.shape, only2015.shape, problem2015.shape

((60, 3), (54, 3), (14, 3))

In [17]:
problemlist = problem2015.index.get_level_values(1).tolist()
for store in problemlist:
    print(AD[AD.index.get_level_values(1).values == store].tail())
#여기서 살릴 가게들을 결정해야할것 같아요. 몇몇개는 폐업한듯하고 몇몇개는 아닌거같고...

                                    item_cnt_day
Region en_shop          year month
Khimki Khimki ТЦ "Mega" 2014 12           7677.0
                        2015 01           6043.0
                             02           4221.0
                             03           4625.0
                             04            732.0
                                                                    item_cnt_day
Region      en_shop                                     year month
Krasnoyarsk Krasnoyarsk Shopping center "Vzletka Plaza" 2014 09           1218.0
                                                             10            997.0
                                                             11           1199.0
                                                             12           1832.0
                                                        2015 01            689.0
                                 item_cnt_day
Region en_shop       year month
Moscow Moscow "Sale" 2014 10           3261.0
                     2015 10           2611.0
                                                        item_cnt_day
Region en_shop                              year month
Moscow Moscow TC "New Century" (Novokosino) 2015 01           1564.0
                                                 02           1273.0
                                                 03           1239.0
                                                 04           1216.0
                                                 05            880.0
                                             item_cnt_day
Region en_shop                   year month
Moscow Moscow TP TPP "Perlovski" 2014 10           1968.0
                                      11           2044.0
                                      12           2700.0
                                 2015 01           1842.0
                                      02            745.0
                                                    item_cnt_day
Region en_shop                          year month
Moscow Moscow ТЦ "MEGA Belaya Dacha II" 2015 04           3518.0
                                             05           3786.0
                                             06           3357.0
                                             07           2478.0
                                             09             -1.0
                                         item_cnt_day
Region   en_shop             year month
Mytischi Mytischi TRK "XL-3" 2014 12           1056.0
                             2015 01           1006.0
                                  02            792.0
                                  03            505.0
                                  04             -1.0
                                                              item_cnt_day
Region      en_shop                               year month
Novosibirsk Novosibirsk TRC "Gallery Novosibirsk" 2015 10            330.0
                                    item_cnt_day
Region   en_shop        year month
Outbound Outbound Trade 2013 10           6526.0
                        2014 10           6155.0
                        2015 04             -1.0
                             10           3186.0
                                                                      item_cnt_day
Region       en_shop                                      year month
RostovNaDonu RostovNaDonu TRC "Megacenter Horizon" Island 2014 09            374.0
                                                               10            422.0
                                                               11            515.0
                                                               12           1024.0
                                                          2015 01            443.0
                                    item_cnt_day
Region en_shop          year month
SPb    SPb TK "Sennaya" 2014 09           1873.0
                             10           1833.0
                             11           2659.0
                             12           3139.0
                        2015 01           1340.0
                                                        item_cnt_day
Region en_shop                              year month
Tyumen Tyumen Shopping Center "Green Beach" 2015 05            758.0
                                                 06            659.0
                                                 07            748.0
                                                 08            916.0
                                                 09            624.0
                                                   item_cnt_day
Region    en_shop                      year month
Zhukovsky Zhukovsky Str. Chkalov 39 m² 2015 02            572.0
                                                  item_cnt_day
Region    en_shop                     year month
Zhukovsky Zhukovsky Str. Chkalov 39m? 2015 06            441.0
                                           07            449.0
                                           08            442.0
                                           09            519.0
                                           10            428.0

## 아이디어:
    어떻게보면 현재 폐업한 샵도 있지만, Rigon별로 구분했을때는 큰 챠이가 있을까? Region별로 구분했을때는 구매의 총량이 비슷하지 않을까?  각 스토어별로 구매량을 구하는것이긴 하지만 Region에서 가감하는 방법? 어떻게설명해얗라지 모르겠지만 그런 방법도 의미가 있지 않을까...

In [18]:
df_category = pd.read_csv("../data/item_categories_trans.csv")
df_category
del df_category["item_category_name"]
df_category["en_category"].replace(to_replace='Книги - Путеводители', value='Books - Guide', inplace=True)
df_category["en_category"].replace(to_replace='Payment Cards - Windows (Digital)', value='Payment cards - Windows (Digital)', inplace=True)
df_category["en_category"].replace(to_replace='Payment cards (Movies, Music, Games)', value='Payment cards - (Movies, Music, Games)', inplace=True)
df_category

    item_category_id                          en_category
0                  0           PC - Headsets / Headphones
1                  1                    Accessories - PS2
2                  2                    Accessories - PS3
3                  3                    Accessories - PS4
4                  4                    Accessories - PSP
5                  5                 Accessories - PSVita
6                  6               Accessories - XBOX 360
7                  7               Accessories - XBOX ONE
8                  8                     Tickets (figure)
9                  9                    Delivery of goods
10                10                  Game Consoles - PS2
11                11                  Game Consoles - PS3
12                12                  Game Consoles - PS4
13                13                  Game Consoles - PSP
14                14               Game Consoles - PSVita
15                15             Game Consoles - XBOX 360
16                16             Game Consoles - XBOX ONE
17                17                Game Consoles - Other
18                18                          Games - PS2
19                19                          Games - PS3
20                20                          Games - PS4
21                21                          Games - PSP
22                22                       Games - PSVita
23                23                     Games - XBOX 360
24                24                     Games - XBOX ONE
25                25        Games - Accessories for games
26                26                Android games - Digit
27                27                    MAC Games - Digit
28                28        PC Games - Additional Edition
29                29       PC Games - Collector's Edition
..               ...                                  ...
54                54                       Books - Number
55                55       Music - CD of local production
56                56     Music - CD of branded production
57                57                          Music - MP3
58                58                        Music - Vinyl
59                59                Music - Musical video
60                60                 Music - Gift edition
61                61                   Gifts - Attributes
62                62      Gifts - Gadgets, robots, sports
63                63                    Gifts - Soft toys
64                64                  Gifts - Board Games
65                65        Gifts - Board games (compact)
66                66          Gifts - Postcards, stickers
67                67                  Gifts - Development
68                68       Gifts - Certificates, services
69                69                    Gifts - Souvenirs
70                70       Gifts - Souvenirs (per sample)
71                71     Gifts - Bags, Albums, Mouse pads
72                72                      Gifts - Figures
73                73          Programs - 1C: Enterprise 8
74                74              Programs - MAC (Number)
75                75           Programs - Home and Office
76                76  Programs - Home and Office (Figure)
77                77                  Programs - Teaching
78                78        Programs - Teaching (Numbers)
79                79                               Office
80                80                   Official - Tickets
81                81               Clean carriers (spire)
82                82                  Clean media (piece)
83                83                   Elements of a food

[84 rows x 2 columns]

In [19]:
#큰카테고리별로 나누기 당장은 큰 카테고리별로 나누기 
def splitcategory(x):
    if '-' in x:
        a = x.split('-')
        for i in a:
            i.strip()
        return a[0]
    else:
        return x

질문 : 두개의 변수를 map에서 받을려면 어떻게 해야하나요..? 예를들어 big_cate랑 small cate해서 a[0]를 bigcate라는 칼럼에, a[1]을 smallcate라는 칼럼에 넣으려면?

In [20]:
df_category["big_cate"]=list(map(splitcategory, df_category["en_category"]))

In [21]:
a = pd.DataFrame(df_category.groupby(["big_cate", "en_category"])["item_category_id"].first())
bigcate = a.index.get_level_values(0).unique().tolist()

In [22]:
df_bigcate = pd.DataFrame(bigcate, index=range(len(bigcate)))
df_bigcate.rename(columns={0 : "big_cate"}, inplace=True)
df_bigcate["idx_of_bigcate"] = df_bigcate.index
df_category.head()

   item_category_id                 en_category      big_cate
0                 0  PC - Headsets / Headphones           PC
1                 1           Accessories - PS2  Accessories
2                 2           Accessories - PS3  Accessories
3                 3           Accessories - PS4  Accessories
4                 4           Accessories - PSP  Accessories

In [23]:
merged_category = pd.merge(df_category, df_bigcate, on='big_cate', how='left')
merged_category
# 흑..왜 안되죠...

,item_category_id,en_category,big_cate,idx_of_bigcate
0,0,PC - Headsets / Headphones,PC,15
1,1,Accessories - PS2,Accessories,0
2,2,Accessories - PS3,Accessories,0
3,3,Accessories - PS4,Accessories,0
4,4,Accessories - PSP,Accessories,0
5,5,Accessories - PSVita,Accessories,0
6,6,Accessories - XBOX 360,Accessories,0
7,7,Accessories - XBOX ONE,Accessories,0
8,8,Tickets (figure),Tickets (figure),19
9,9,Delivery of goods,Delivery of goods,6
10,10,Game Consoles - PS2,Game Consoles,8
11,11,Game Consoles - PS3,Game Consoles,8
12,12,Game Consoles - PS4,Game Consoles,8
13,13,Game Consoles - PSP,Game Consoles,8
14,14,Game Consoles - PSVita,Game Consoles,8
15,15,Game Consoles - XBOX 360,Game Consoles,8
16,16,Game Consoles - XBOX ONE,Game Consoles,8
17,17,Game Consoles - Other,Game Consoles,8
18,18,Games - PS2,Games,9
19,19,Games - PS3,Games,9
20,20,Games - PS4,Games,9
21,21,Games - PSP,Games,9
22,22,Games - PSVita,Games,9
23,23,Games - XBOX 360,Games,9
24,24,Games - XBOX ONE,Games,9
25,25,Games - Accessories for games,Games,9
26,26,Android games - Digit,Android games,1
27,27,MAC Games - Digit,MAC Games,11
28,28,PC Games - Additional Edition,PC Games,16
29,29,PC Games - Collector's Edition,PC Games,16
...,...,...,...,...
54,54,Books - Number,Books,2
55,55,Music - CD of local production,Music,12
56,56,Music - CD of branded production,Music,12
57,57,Music - MP3,Music,12
58,58,Music - Vinyl,Music,12
59,59,Music - Musical video,Music,12
60,60,Music - Gift edition,Music,12
61,61,Gifts - Attributes,Gifts,10
62,62,"Gifts - Gadgets, robots, sports",Gifts,10
63,63,Gifts - Soft toys,Gifts,10
64,64,Gifts - Board Games,Gifts,10
65,65,Gifts - Board games (compact),Gifts,10
66,66,"Gifts - Postcards, stickers",Gifts,10
67,67,Gifts - Development,Gifts,10
68,68,"Gifts - Certificates, services",Gifts,10
69,69,Gifts - Souvenirs,Gifts,10
70,70,Gifts - Souvenirs (per sample),Gifts,10
71,71,"Gifts - Bags, Albums, Mouse pads",Gifts,10
72,72,Gifts - Figures,Gifts,10
73,73,Programs - 1C: Enterprise 8,Programs,18
74,74,Programs - MAC (Number),Programs,18
75,75,Programs - Home and Office,Programs,18
76,76,Programs - Home and Office (Figure),Programs,18
77,77,Programs - Teaching,Programs,18
78,78,Programs - Teaching (Numbers),Programs,18
79,79,Office,Office,13
80,80,Official - Tickets,Official,14
81,81,Clean carriers (spire),Clean carriers (spire),4
82,82,Clean media (piece),Clean media (piece),5
83,83,Elements of a food,Elements of a food,7

# 1. 카테고리를 큰분류별로 나눠서, 팔리는 수치를 확인 (상관없이, 전체회사를 보는느낌으로),

In [24]:
item_df = pd.read_csv('../data/items.csv')
item_df.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [25]:
#item에 category id를 조인
item_with_bigcate = pd.merge(item_df, merged_category[["item_category_id", "big_cate", "en_category"]], on="item_category_id", how="inner")
item_with_bigcate.head()

,item_name,item_id,item_category_id,big_cate,en_category
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40,Cinema,Cinema - DVD
1,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40,Cinema,Cinema - DVD
2,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40,Cinema,Cinema - DVD
3,***КОРОБКА (СТЕКЛО) D,4,40,Cinema,Cinema - DVD
4,***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ (UNI) ...,5,40,Cinema,Cinema - DVD

In [26]:
pre_data_with_cate = pd.merge(pre_data, item_with_bigcate[["item_id", "item_category_id", "big_cate", "en_category"]], on="item_id", how="inner"  )
pre_data_with_cate.head()

,shop_id,item_id,item_price,item_cnt_day,en_shop,Region,day,month,year,item_category_id,big_cate,en_category
0,59,22154,999.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,02,01,2013,37,Cinema,Cinema - Blu-Ray
1,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,02,01,2013,37,Cinema,Cinema - Blu-Ray
2,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,03,01,2013,37,Cinema,Cinema - Blu-Ray
3,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,20,01,2013,37,Cinema,Cinema - Blu-Ray
4,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,23,01,2013,37,Cinema,Cinema - Blu-Ray

In [27]:
a = DataFrame(pre_data_with_cate.groupby(["year","month", "big_cate"])["item_cnt_day"].sum())
a = a.unstack().reset_index()
yearmonth = lambda x, y : str(x) + str(y)
a["yearmonth"] = list(map(yearmonth, a["year"], a["month"]))
a = a.fillna(0).T
a

                                         0       1       2       3       4   \
             big_cate
year                                   2013    2013    2013    2013    2013
month                                    01      02      03      04      05
item_cnt_day Accessories               3575    2739    2544    1748    1639
             Android games                0       0       0       0       0
             Books                     2625    2947    2923    2413    1994
             Cinema                   43002   41001   45522   36708   33508
             Clean carriers (spire)     177     111     106     115     113
             Clean media (piece)       1374    1192    1125    1021    1139
             Delivery of goods          149     159     211     138      95
             Elements of a food         894     574     675     523     527
             Game Consoles              870     645     625     432     386
             Games                    18555   19472   22049   14243   14921
             Gifts                    11895   11369   11545    9244   12083
             MAC Games                    0       0       0       0       0
             Music                    15407   14786   16859   14645   14886
             Office                     145     128     275      94      83
             Official                     0       0       0       0       0
             PC                           1       1       0       1       0
             PC Games                 27959   28242   38030   21961   22398
             Payment cards              713     791     935     800     766
             Programs                  4138    3933    3718    3104    2432
             Tickets (figure)             0       0       0       0       0
yearmonth                            201301  201302  201303  201304  201305

                                         5       6       7       8       9   \
             big_cate
year                                   2013    2013    2013    2013    2013
month                                    06      07      08      09      10
item_cnt_day Accessories               1824    2007    2050    2279    2543
             Android games                0       0       0       0       0
             Books                     2103    2290    2043    1886    2257
             Cinema                   35380   35710   35363   33152   33497
             Clean carriers (spire)      75      98      48      32      26
             Clean media (piece)       1114     889     657     506     336
             Delivery of goods          124      83     124     141     253
             Elements of a food         761     676     444     278     168
             Game Consoles              558     587     606     801     784
             Games                    20571   14727   19273   31323   24291
             Gifts                    18865   16835   17330   16459   19146
             MAC Games                    0       0       0       0       0
             Music                    16217   16863   16436   13494   13819
             Office                      64      64      67      52      57
             Official                     0       0       0       0       0
             PC                           0       0       0       0       0
             PC Games                 24460   22871   27374   28925   26385
             Payment cards              925     795     975    1221    1157
             Programs                  2340    2471    2501    2783    2822
             Tickets (figure)             0       0       0       0       0
yearmonth                            201306  201307  201308  201309  201310

                                      ...        24      25      26      27  \
             big_cate                 ...
year                                  ...      2015    2015    2015    2015
month                                 ...        01      02      03      04
item_cnt_day Accessories              ...      3295    1848    1695    1495
             Android games            ...         1       4       4       3
             Books                    ...      1579    1642    1731    1720
             Cinema                   ...     23373   18913   20702   17160
             Clean carriers (spire)   ...         0       0       1       0
             Clean media (piece)      ...        50       0       0       0
             Delivery of goods        ...       467     480     492    1003
             Elements of a food       ...       584     382     523     276
             Game Consoles            ...      1152     449     400     223
             Games                    ...     20661   16590   15196   11626
             Gifts                    ...     22962   16950   13700   12682
             MAC Games                ...         3       0       0       0
             Music                    ...     10784    9395   10237    8244
             Office                   ...      1454     962    1056     744
             Official                 ...         0       0       0      45
             PC                       ...         0       0       0       0
             PC Games                 ...     19318   12754   12570   19803
             Payment cards            ...      3183    2095    2087    1287
             Programs                 ...      2105    1734    1620    1471
             Tickets (figure)         ...         0       0       0      45
yearmonth                             ...    201501  201502  201503  201504

                                         28      29      30      31      32  \
             big_cate
year                                   2015    2015    2015    2015    2015
month                                    05      06      07      08      09
item_cnt_day Accessories               1350    1272    1186    1737    1691
             Android games               15      26       6       9      32
             Books                     1993    2097    2428    2732    3123
             Cinema                   13940   14155   13776   13097   11228
             Clean carriers (spire)       0       0       0       0       0
             Clean media (piece)          0       0       0       0       0
             Delivery of goods         2005     528     513     276     816
             Elements of a food         272     258     298     293     277
             Game Consoles              276     332     191     257     311
             Games                    15284   13070   11681   14902   16417
             Gifts                    12934   13111   14323   13443   11648
             MAC Games                    1       0       0       1       0
             Music                     7179    7148    7612    6960    6104
             Office                     558     499     497     486     491
             Official                   147     117     195     483    5149
             PC                           0       0       0       0       0
             PC Games                 13763    9165    8185    8704    8155
             Payment cards             1252    1170     990    1164    1128
             Programs                  1179    1049    1113    1052    1145
             Tickets (figure)           147     117     193     483    5128
yearmonth                            201505  201506  201507  201508  201509

                                         33
             big_cate
year                                   2015
month                                    10
item_cnt_day Accessories               1632
             Android games                9
             Books                     5687
             Cinema                   13033
             Clean carriers (spire)       0
             Clean media (piece)          0
             Delivery of goods         2524
             Elements of a food         348
             Game Consoles              287
             Games                    13108
             Gifts                    16228
             MAC Games                    1
             Music                     6814
             Office                     521
             Official                     0
             PC                           0
             PC Games                  8228
             Payment cards             1130
             Programs                  1507
             Tickets (figure)            -1
yearmonth                            201510

[23 rows x 34 columns]

In [28]:
small = a.loc["item_cnt_day"]
small.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
big_cate,,,,,,,,,,,,,,,,,,,,,
Accessories,3575,2739,2544,1748,1639,1824,2007,2050,2279,2543,...,3295,1848,1695,1495,1350,1272,1186,1737,1691,1632
Android games,0,0,0,0,0,0,0,0,0,0,...,1,4,4,3,15,26,6,9,32,9
Books,2625,2947,2923,2413,1994,2103,2290,2043,1886,2257,...,1579,1642,1731,1720,1993,2097,2428,2732,3123,5687
Cinema,43002,41001,45522,36708,33508,35380,35710,35363,33152,33497,...,23373,18913,20702,17160,13940,14155,13776,13097,11228,13033
Clean carriers (spire),177,111,106,115,113,75,98,48,32,26,...,0,0,1,0,0,0,0,0,0,0

In [29]:
json = small.to_dict(orient='index')
namelist = small.index.tolist()
yearmonth = a.loc["yearmonth"].T
yearmonth.columns = ['yearmonth']
yearmonth = yearmonth['yearmonth'].as_matrix()
yearmonthlist = yearmonth.tolist()
yearmonthlist[0]

'201301'

질문 : index의 순서를 바꾸는 방법이 잇나요?

In [30]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(20,10))

for category in namelist:
    monthlist = []
    listbycate = []
    for index, data in enumerate(json[category]):
        monthlist.append(yearmonth[index])
        listbycate.append(json[category][data])
    plt.plot(monthlist, listbycate, marker="o")
plt.legend(namelist, loc='best') 
plt.grid(True)
plt.show()

2.큰카테고리 / 작은카테고리  월별로 제일 많이 팔리는 것들?

In [31]:
b = DataFrame(pre_data_with_cate.groupby(["year","month", "en_category"])["item_cnt_day"].sum())
b = b.unstack().fillna(0).reset_index()
b.head()

             year month      item_cnt_day                                      \
en_category             Accessories - PS2 Accessories - PS3 Accessories - PS4
0            2013    01               1.0            1390.0             440.0
1            2013    02               1.0            1190.0             302.0
2            2013    03               0.0            1025.0             293.0
3            2013    04               0.0             646.0             202.0
4            2013    05               0.0             596.0             146.0

                                                                           \
en_category Accessories - PSP Accessories - PSVita Accessories - XBOX 360
0                       251.0                623.0                  870.0
1                       220.0                358.0                  668.0
2                       226.0                354.0                  646.0
3                       160.0                275.0                  465.0
4                       175.0                281.0                  441.0

                                                               ...         \
en_category Accessories - XBOX ONE Android games - Digit       ...
0                              0.0                   0.0       ...
1                              0.0                   0.0       ...
2                              0.0                   0.0       ...
3                              0.0                   0.0       ...
4                              0.0                   0.0       ...

                                                                 \
en_category Payment cards - Live! (Numeral) Payment cards - PSN
0                                       0.0               422.0
1                                       0.0               386.0
2                                       0.0               592.0
3                                       0.0               505.0
4                                       0.0               528.0

                                                                           \
en_category Payment cards - Windows (Digital) Programs - 1C: Enterprise 8
0                                         0.0                       677.0
1                                         0.0                       744.0
2                                         0.0                       764.0
3                                         0.0                       712.0
4                                         0.0                       460.0

                                                                            \
en_category Programs - Home and Office Programs - Home and Office (Figure)
0                               2980.0                                 0.0
1                               2670.0                                 0.0
2                               2523.0                                 0.0
3                               1998.0                                 0.0
4                               1568.0                                95.0

                                                         \
en_category Programs - MAC (Number) Programs - Teaching
0                               0.0               481.0
1                               0.0               519.0
2                               0.0               431.0
3                               0.0               394.0
4                               0.0               272.0


en_category Programs - Teaching (Numbers) Tickets (figure)
0                                     0.0              0.0
1                                     0.0              0.0
2                                     0.0              0.0
3                                     0.0              0.0
4                                    37.0              0.0

[5 rows x 86 columns]

In [32]:
yearmonth = lambda x, y : str(x) + str(y)
b["yearmonth"] = list(map(yearmonth, b["year"], b["month"]))
b = b.rename(index= b['yearmonth']) 
b = b.drop(columns=["year", "month", "yearmonth"], axis=1)

C:\Users\vivid\Miniconda3\lib\site-packages\pandas\core\generic.py:2530: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [33]:
b.head()
#이것은 각 세부카테고리별로 얼마나 팔렸는지 알려주는 자료이다.

                 item_cnt_day                                      \
en_category Accessories - PS2 Accessories - PS3 Accessories - PS4
201301                    1.0            1390.0             440.0
201302                    1.0            1190.0             302.0
201303                    0.0            1025.0             293.0
201304                    0.0             646.0             202.0
201305                    0.0             596.0             146.0

                                                                           \
en_category Accessories - PSP Accessories - PSVita Accessories - XBOX 360
201301                  251.0                623.0                  870.0
201302                  220.0                358.0                  668.0
201303                  226.0                354.0                  646.0
201304                  160.0                275.0                  465.0
201305                  175.0                281.0                  441.0

                                                          \
en_category Accessories - XBOX ONE Android games - Digit
201301                         0.0                   0.0
201302                         0.0                   0.0
201303                         0.0                   0.0
201304                         0.0                   0.0
201305                         0.0                   0.0

                                                                   ...         \
en_category Books - Artbook, encyclopedia Books - Audiobooks       ...
201301                                0.0             1352.0       ...
201302                                0.0             1508.0       ...
201303                                0.0             1561.0       ...
201304                                0.0             1206.0       ...
201305                                0.0             1105.0       ...

                                                                 \
en_category Payment cards - Live! (Numeral) Payment cards - PSN
201301                                  0.0               422.0
201302                                  0.0               386.0
201303                                  0.0               592.0
201304                                  0.0               505.0
201305                                  0.0               528.0

                                                                           \
en_category Payment cards - Windows (Digital) Programs - 1C: Enterprise 8
201301                                    0.0                       677.0
201302                                    0.0                       744.0
201303                                    0.0                       764.0
201304                                    0.0                       712.0
201305                                    0.0                       460.0

                                                                            \
en_category Programs - Home and Office Programs - Home and Office (Figure)
201301                          2980.0                                 0.0
201302                          2670.0                                 0.0
201303                          2523.0                                 0.0
201304                          1998.0                                 0.0
201305                          1568.0                                95.0

                                                         \
en_category Programs - MAC (Number) Programs - Teaching
201301                          0.0               481.0
201302                          0.0               519.0
201303                          0.0               431.0
201304                          0.0               394.0
201305                          0.0               272.0


en_category Programs - Teaching (Numbers) Tickets (figure)
201301                                0.0              0.0
201302                                0.0              0.0
201303                                0.0              0.0
201304                                0.0              0.0
201305                               37.0              0.0

[5 rows x 84 columns]

몇가지 생각할것:
11월과 12월에서 두드러지게 상승하는 카테고리들이 있다.
다만, 그럼에도 불구하고 지속적으로 판매가 되고 있지 않은 카테고리들이 있다.  그 카테고리들은 어차피 리그레션에 넣으면 0가 되려나...? 

지금까지는 전체 상점별에서 아이템이 어떻게 팔릴지 봤는데
그럼 이런것도 생각할 수 있지않을까?

2-1: 전체 큰 카테고리중 각 카테고리가 얼마나 차지했는지, 그 비율을 볼수 있지않을까? 그리고 그것을 전체카테고리의 에측량으로 예측을 헀을때, 그 안에서 각 월별 distribution은 일정한 비율을 차지하지 않을까?

In [34]:
pre_data_with_cate.head()
yearmonth = lambda x,y : str(x)+str(y)    
pre_data_with_cate["yearmonth"]=  list(map(yearmonth, pre_data_with_cate["year"], pre_data_with_cate["month"]))
pre_data_with_cate.head()

,shop_id,item_id,item_price,item_cnt_day,en_shop,Region,day,month,year,item_category_id,big_cate,en_category,yearmonth
0,59,22154,999.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,02,01,2013,37,Cinema,Cinema - Blu-Ray,201301
1,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,02,01,2013,37,Cinema,Cinema - Blu-Ray,201301
2,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,03,01,2013,37,Cinema,Cinema - Blu-Ray,201301
3,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,20,01,2013,37,Cinema,Cinema - Blu-Ray,201301
4,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,23,01,2013,37,Cinema,Cinema - Blu-Ray,201301

In [35]:
ak2 = DataFrame(pre_data_with_cate.groupby(["yearmonth", "big_cate", "en_category"])["item_cnt_day"].sum())
ak2 = ak2.unstack().fillna(0).reset_index()
ak2.head()

            yearmonth                big_cate      item_cnt_day  \
en_category                                   Accessories - PS2
0              201301            Accessories                1.0
1              201301                  Books                0.0
2              201301                 Cinema                0.0
3              201301  Clean carriers (spire)               0.0
4              201301     Clean media (piece)               0.0

                                                                   \
en_category Accessories - PS3 Accessories - PS4 Accessories - PSP
0                      1390.0             440.0             251.0
1                         0.0               0.0               0.0
2                         0.0               0.0               0.0
3                         0.0               0.0               0.0
4                         0.0               0.0               0.0

                                                         \
en_category Accessories - PSVita Accessories - XBOX 360
0                          623.0                  870.0
1                            0.0                    0.0
2                            0.0                    0.0
3                            0.0                    0.0
4                            0.0                    0.0

                                                               ...         \
en_category Accessories - XBOX ONE Android games - Digit       ...
0                              0.0                   0.0       ...
1                              0.0                   0.0       ...
2                              0.0                   0.0       ...
3                              0.0                   0.0       ...
4                              0.0                   0.0       ...

                                                                 \
en_category Payment cards - Live! (Numeral) Payment cards - PSN
0                                       0.0                 0.0
1                                       0.0                 0.0
2                                       0.0                 0.0
3                                       0.0                 0.0
4                                       0.0                 0.0

                                                                           \
en_category Payment cards - Windows (Digital) Programs - 1C: Enterprise 8
0                                         0.0                         0.0
1                                         0.0                         0.0
2                                         0.0                         0.0
3                                         0.0                         0.0
4                                         0.0                         0.0

                                                                            \
en_category Programs - Home and Office Programs - Home and Office (Figure)
0                                  0.0                                 0.0
1                                  0.0                                 0.0
2                                  0.0                                 0.0
3                                  0.0                                 0.0
4                                  0.0                                 0.0

                                                         \
en_category Programs - MAC (Number) Programs - Teaching
0                               0.0                 0.0
1                               0.0                 0.0
2                               0.0                 0.0
3                               0.0                 0.0
4                               0.0                 0.0


en_category Programs - Teaching (Numbers) Tickets (figure)
0                                     0.0              0.0
1                                     0.0              0.0
2                                     0.0              0.0
3                                     0.0              0.0
4                                     0.0              0.0

[5 rows x 86 columns]

In [36]:
sumtable = DataFrame(pre_data_with_cate.groupby(["yearmonth", "big_cate"])["item_cnt_day"].sum())
temp = sumtable.unstack().reset_index()
temp.columns = temp.columns.droplevel(0)
temp.head()

big_cate,,Accessories,Android games,Books,Cinema,Clean carriers (spire),Clean media (piece),Delivery of goods,Elements of a food,Game Consoles,...,Gifts,MAC Games,Music,Office,Official,PC,PC Games,Payment cards,Programs,Tickets (figure)
0,201301,3575.0,NaN,2625.0,43002.0,177.0,1374.0,149.0,894.0,870.0,...,11895.0,NaN,15407.0,145.0,NaN,1.0,27959.0,713.0,4138.0,NaN
1,201302,2739.0,NaN,2947.0,41001.0,111.0,1192.0,159.0,574.0,645.0,...,11369.0,NaN,14786.0,128.0,NaN,1.0,28242.0,791.0,3933.0,NaN
2,201303,2544.0,NaN,2923.0,45522.0,106.0,1125.0,211.0,675.0,625.0,...,11545.0,NaN,16859.0,275.0,NaN,NaN,38030.0,935.0,3718.0,NaN
3,201304,1748.0,NaN,2413.0,36708.0,115.0,1021.0,138.0,523.0,432.0,...,9244.0,NaN,14645.0,94.0,NaN,1.0,21961.0,800.0,3104.0,NaN
4,201305,1639.0,NaN,1994.0,33508.0,113.0,1139.0,95.0,527.0,386.0,...,12083.0,NaN,14886.0,83.0,NaN,NaN,22398.0,766.0,2432.0,NaN

In [37]:
#sum한 결과값을 dict로 모으기
sumtable = DataFrame(pre_data_with_cate.groupby(["yearmonth", "big_cate"])["item_cnt_day"].sum())
temp = sumtable.unstack().reset_index()
temp = temp.set_index(temp.yearmonth)
temp = temp.drop(columns=["yearmonth"], axis = 1)
temp.columns = temp.columns.droplevel(0)
sumcate = temp.to_dict()
sumcate

C:\Users\vivid\Miniconda3\lib\site-packages\pandas\core\generic.py:2530: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

{'Accessories ': {'201301': 3575.0,
  '201302': 2739.0,
  '201303': 2544.0,
  '201304': 1748.0,
  '201305': 1639.0,
  '201306': 1824.0,
  '201307': 2007.0,
  '201308': 2050.0,
  '201309': 2279.0,
  '201310': 2543.0,
  '201311': 2528.0,
  '201312': 7349.0,
  '201401': 3900.0,
  '201402': 3664.0,
  '201403': 2778.0,
  '201404': 1902.0,
  '201405': 1982.0,
  '201406': 2270.0,
  '201407': 2086.0,
  '201408': 2421.0,
  '201409': 2680.0,
  '201410': 2687.0,
  '201411': 2516.0,
  '201412': 6144.0,
  '201501': 3295.0,
  '201502': 1848.0,
  '201503': 1695.0,
  '201504': 1495.0,
  '201505': 1350.0,
  '201506': 1272.0,
  '201507': 1186.0,
  '201508': 1737.0,
  '201509': 1691.0,
  '201510': 1632.0},
 'Android games ': {'201301': nan,
  '201302': nan,
  '201303': nan,
  '201304': nan,
  '201305': nan,
  '201306': nan,
  '201307': nan,
  '201308': nan,
  '201309': nan,
  '201310': nan,
  '201311': nan,
  '201312': nan,
  '201401': nan,
  '201402': nan,
  '201403': nan,
  '201404': nan,
  '201405': nan,
  '201406': nan,
  '201407': nan,
  '201408': nan,
  '201409': nan,
  '201410': nan,
  '201411': nan,
  '201412': 5.0,
  '201501': 1.0,
  '201502': 4.0,
  '201503': 4.0,
  '201504': 3.0,
  '201505': 15.0,
  '201506': 26.0,
  '201507': 6.0,
  '201508': 9.0,
  '201509': 32.0,
  '201510': 9.0},
 'Books ': {'201301': 2625.0,
  '201302': 2947.0,
  '201303': 2923.0,
  '201304': 2413.0,
  '201305': 1994.0,
  '201306': 2103.0,
  '201307': 2290.0,
  '201308': 2043.0,
  '201309': 1886.0,
  '201310': 2257.0,
  '201311': 2093.0,
  '201312': 2647.0,
  '201401': 1963.0,
  '201402': 2242.0,
  '201403': 2241.0,
  '201404': 2163.0,
  '201405': 1739.0,
  '201406': 1930.0,
  '201407': 1996.0,
  '201408': 1745.0,
  '201409': 1751.0,
  '201410': 1920.0,
  '201411': 1823.0,
  '201412': 1875.0,
  '201501': 1579.0,
  '201502': 1642.0,
  '201503': 1731.0,
  '201504': 1720.0,
  '201505': 1993.0,
  '201506': 2097.0,
  '201507': 2428.0,
  '201508': 2732.0,
  '201509': 3123.0,
  '201510': 5687.0},
 'Cinema ': {'201301': 43002.0,
  '201302': 41001.0,
  '201303': 45522.0,
  '201304': 36708.0,
  '201305': 33508.0,
  '201306': 35380.0,
  '201307': 35710.0,
  '201308': 35363.0,
  '201309': 33152.0,
  '201310': 33497.0,
  '201311': 35509.0,
  '201312': 42496.0,
  '201401': 32257.0,
  '201402': 26841.0,
  '201403': 29914.0,
  '201404': 28939.0,
  '201405': 24185.0,
  '201406': 24053.0,
  '201407': 22342.0,
  '201408': 24141.0,
  '201409': 19820.0,
  '201410': 21498.0,
  '201411': 22539.0,
  '201412': 30189.0,
  '201501': 23373.0,
  '201502': 18913.0,
  '201503': 20702.0,
  '201504': 17160.0,
  '201505': 13940.0,
  '201506': 14155.0,
  '201507': 13776.0,
  '201508': 13097.0,
  '201509': 11228.0,
  '201510': 13033.0},
 'Clean carriers (spire)': {'201301': 177.0,
  '201302': 111.0,
  '201303': 106.0,
  '201304': 115.0,
  '201305': 113.0,
  '201306': 75.0,
  '201307': 98.0,
  '201308': 48.0,
  '201309': 32.0,
  '201310': 26.0,
  '201311': 19.0,
  '201312': 9.0,
  '201401': 10.0,
  '201402': 8.0,
  '201403': 7.0,
  '201404': 2.0,
  '201405': 7.0,
  '201406': nan,
  '201407': 1.0,
  '201408': nan,
  '201409': nan,
  '201410': nan,
  '201411': nan,
  '201412': nan,
  '201501': nan,
  '201502': nan,
  '201503': 1.0,
  '201504': nan,
  '201505': nan,
  '201506': nan,
  '201507': nan,
  '201508': nan,
  '201509': nan,
  '201510': nan},
 'Clean media (piece)': {'201301': 1374.0,
  '201302': 1192.0,
  '201303': 1125.0,
  '201304': 1021.0,
  '201305': 1139.0,
  '201306': 1114.0,
  '201307': 889.0,
  '201308': 657.0,
  '201309': 506.0,
  '201310': 336.0,
  '201311': 336.0,
  '201312': 178.0,
  '201401': 96.0,
  '201402': 107.0,
  '201403': 114.0,
  '201404': 95.0,
  '201405': 80.0,
  '201406': 26.0,
  '201407': 1.0,
  '201408': nan,
  '201409': 1.0,
  '201410': nan,
  '201411': nan,
  '201412': nan,
  '201501': 50.0,
  '201502': nan,
  '201503': nan,
  '201504': nan,
  '201505': nan,
  '201506': nan,
  '201507': nan,
  '201508': nan,
  '201509': nan,
  '201510': nan},
 'Delivery of goods': {'201301': 149.0,
  '201302': 159.0,
  '201303': 211.0,
  '201304': 138.0,
  '201305': 95.0,
  '201306': 124.0,
  '201307': 83.0,
  '201308': 124.0,
  '201309': 141.0,
  '201310': 253.0,
  '201311': 976.0,
  '201312': 362.0,
  '201401': 158.0,
  '201402': 419.0,
  '201403': 772.0,
  '201404': 399.0,
  '201405': 552.0,
  '201406': 192.0,
  '201407': 208.0,
  '201408': 200.0,
  '201409': 416.0,
  '201410': 356.0,
  '201411': 1398.0,
  '201412': 1129.0,
  '201501': 467.0,
  '201502': 480.0,
  '201503': 492.0,
  '201504': 1003.0,
  '201505': 2005.0,
  '201506': 528.0,
  '201507': 513.0,
  '201508': 276.0,
  '201509': 816.0,
  '201510': 2524.0},
 'Elements of a food': {'201301': 894.0,
  '201302': 574.0,
  '201303': 675.0,
  '201304': 523.0,
  '201305': 527.0,
  '201306': 761.0,
  '201307': 676.0,
  '201308': 444.0,
  '201309': 278.0,
  '201310': 168.0,
  '201311': 202.0,
  '201312': 270.0,
  '201401': 70.0,
  '201402': 106.0,
  '201403': 63.0,
  '201404': 46.0,
  '201405': 75.0,
  '201406': 105.0,
  '201407': 228.0,
  '201408': 253.0,
  '201409': 247.0,
  '201410': 309.0,
  '201411': 291.0,
  '201412': 736.0,
  '201501': 584.0,
  '201502': 382.0,
  '201503': 523.0,
  '201504': 276.0,
  '201505': 272.0,
  '201506': 258.0,
  '201507': 298.0,
  '201508': 293.0,
  '201509': 277.0,
  '201510': 348.0},
 'Game Consoles ': {'201301': 870.0,
  '201302': 645.0,
  '201303': 625.0,
  '201304': 432.0,
  '201305': 386.0,
  '201306': 558.0,
  '201307': 587.0,
  '201308': 606.0,
  '201309': 801.0,
  '201310': 784.0,
  '201311': 2339.0,
  '201312': 4002.0,
  '201401': 1269.0,
  '201402': 1966.0,
  '201403': 1196.0,
  '201404': 765.0,
  '201405': 743.0,
  '201406': 816.0,
  '201407': 852.0,
  '201408': 1208.0,
  '201409': 1263.0,
  '201410': 933.0,
  '201411': 1206.0,
  '201412': 3425.0,
  '201501': 1152.0,
  '201502': 449.0,
  '201503': 400.0,
  '201504': 223.0,
  '201505': 276.0,
  '201506': 332.0,
  '201507': 191.0,
  '201508': 257.0,
  '201509': 311.0,
  '201510': 287.0},
 'Games ': {'201301': 18555.0,
  '201302': 19472.0,
  '201303': 22049.0,
  '201304': 14243.0,
  '201305': 14921.0,
  '201306': 20571.0,
  '201307': 14727.0,
  '201308': 19273.0,
  '201309': 31323.0,
  '201310': 24291.0,
  '201311': 19201.0,
  '201312': 35193.0,
  '201401': 20615.0,
  '201402': 21440.0,
  '201403': 21208.0,
  '201404': 12588.0,
  '201405': 17515.0,
  '201406': 15993.0,
  '201407': 15955.0,
  '201408': 19727.0,
  '201409': 18804.0,
  '201410': 17111.0,
  '201411': 26556.0,
  '201412': 36908.0,
  '201501': 20661.0,
  '201502': 16590.0,
  '201503': 15196.0,
  '201504': 11626.0,
  '201505': 15284.0,
  '201506': 13070.0,
  '201507': 11681.0,
  '201508': 14902.0,
  '201509': 16417.0,
  '201510': 13108.0},
 'Gifts ': {'201301': 11895.0,
  '201302': 11369.0,
  '201303': 11545.0,
  '201304': 9244.0,
  '201305': 12083.0,
  '201306': 18865.0,
  '201307': 16835.0,
  '201308': 17330.0,
  '201309': 16459.0,
  '201310': 19146.0,
  '201311': 18618.0,
  '201312': 36978.0,
  '201401': 19148.0,
  '201402': 17956.0,
  '201403': 19167.0,
  '201404': 15048.0,
  '201405': 15212.0,
  '201406': 16429.0,
  '201407': 15908.0,
  '201408': 16964.0,
  '201409': 15002.0,
  '201410': 23338.0,
  '201411': 20557.0,
  '201412': 41289.0,
  '201501': 22962.0,
  '201502': 16950.0,
  '201503': 13700.0,
  '201504': 12682.0,
  '201505': 12934.0,
  '201506': 13111.0,
  '201507': 14323.0,
  '201508': 13443.0,
  '201509': 11648.0,
  '201510': 16228.0},
 'MAC Games ': {'201301': nan,
  '201302': nan,
  '201303': nan,
  '201304': nan,
  '201305': nan,
  '201306': nan,
  '201307': nan,
  '201308': nan,
  '201309': nan,
  '201310': nan,
  '201311': nan,
  '201312': nan,
  '201401': nan,
  '201402': nan,
  '201403': nan,
  '201404': nan,
  '201405': nan,
  '201406': nan,
  '201407': nan,
  '201408': nan,
  '201409': nan,
  '201410': nan,
  '201411': nan,
  '201412': 2.0,
  '201501': 3.0,
  '201502': nan,
  '201503': nan,
  '201504': nan,
  '201505': 1.0,
  '201506': nan,
  '201507': nan,
  '201508': 1.0,
  '201509': nan,
  '201510': 1.0},
 'Music ': {'201301': 15407.0,
  '201302': 14786.0,
  '201303': 16859.0,
  '201304': 14645.0,
  '201305': 14886.0,
  '201306': 16217.0,
  '201307': 16863.0,
  '201308': 16436.0,
  '201309': 13494.0,
  '201310': 13819.0,
  '201311': 13584.0,
  '201312': 18997.0,
  '201401': 12043.0,
  '201402': 11086.0,
  '201403': 13197.0,
  '201404': 10849.0,
  '201405': 11239.0,
  '201406': 12398.0,
  '201407': 12982.0,
  '201408': 12699.0,
  '201409': 9691.0,
  '201410': 10524.0,
  '201411': 11602.0,
  '201412': 16514.0,
  '201501': 10784.0,
  '201502': 9395.0,
  '201503': 10237.0,
  '201504': 8244.0,
  '201505': 7179.0,
  '201506': 7148.0,
  '201507': 7612.0,
  '201508': 6960.0,
  '201509': 6104.0,
  '201510': 6814.0},
 'Office': {'201301': 145.0,
  '201302': 128.0,
  '201303': 275.0,
  '201304': 94.0,
  '201305': 83.0,
  '201306': 64.0,
  '201307': 64.0,
  '201308': 67.0,
  '201309': 52.0,
  '201310': 57.0,
  '201311': 49.0,
  '201312': 92.0,
  '201401': 61.0,
  '201402': 69.0,
  '201403': 77.0,
  '201404': 142.0,
  '201405': 167.0,
  '201406': 206.0,
  '201407': 323.0,
  '201408': 620.0,
  '201409': 986.0,
  '201410': 1088.0,
  '201411': 1651.0,
  '201412': 2002.0,
  '201501': 1454.0,
  '201502': 962.0,
  '201503': 1056.0,
  '201504': 744.0,
  '201505': 558.0,
  '201506': 499.0,
  '201507': 497.0,
  '201508': 486.0,
  '201509': 491.0,
  '201510': 521.0},
 'Official ': {'201301': nan,
  '201302': nan,
  '201303': nan,
  '201304': nan,
  '201305': nan,
  '201306': nan,
  '201307': nan,
  '201308': nan,
  '201309': nan,
  '201310': nan,
  '201311': nan,
  '201312': nan,
  '201401': nan,
  '201402': nan,
  '201403': nan,
  '201404': nan,
  '201405': nan,
  '201406': nan,
  '201407': nan,
  '201408': nan,
  '201409': nan,
  '201410': nan,
  '201411': nan,
  '201412': nan,
  '201501': nan,
  '201502': nan,
  '201503': nan,
  '201504': 45.0,
  '201505': 147.0,
  '201506': 117.0,
  '201507': 195.0,
  '201508': 483.0,
  '201509': 5149.0,
  '201510': nan},
 'PC ': {'201301': 1.0,
  '201302': 1.0,
  '201303': nan,
  '201304': 1.0,
  '201305': nan,
  '201306': nan,
  '201307': nan,
  '201308': nan,
  '201309': nan,
  '201310': nan,
  '201311': nan,
  '201312': nan,
  '201401': nan,
  '201402': nan,
  '201403': nan,
  '201404': nan,
  '201405': nan,
  '201406': nan,
  '201407': nan,
  '201408': nan,
  '201409': nan,
  '201410': nan,
  '201411': nan,
  '201412': nan,
  '201501': nan,
  '201502': nan,
  '201503': nan,
  '201504': nan,
  '201505': nan,
  '201506': nan,
  '201507': nan,
  '201508': nan,
  '201509': nan,
  '201510': nan},
 'PC Games ': {'201301': 27959.0,
  '201302': 28242.0,
  '201303': 38030.0,
  '201304': 21961.0,
  '201305': 22398.0,
  '201306': 24460.0,
  '201307': 22871.0,
  '201308': 27374.0,
  '201309': 28925.0,
  '201310': 26385.0,
  '201311': 30276.0,
  '201312': 29123.0,
  '201401': 20692.0,
  '201402': 19186.0,
  '201403': 20036.0,
  '201404': 18784.0,
  '201405': 21061.0,
  '201406': 19684.0,
  '201407': 15210.0,
  '201408': 18859.0,
  '201409': 19428.0,
  '201410': 21610.0,
  '201411': 23170.0,
  '201412': 22729.0,
  '201501': 19318.0,
  '201502': 12754.0,
  '201503': 12570.0,
  '201504': 19803.0,
  '201505': 13763.0,
  '201506': 9165.0,
  '201507': 8185.0,
  '201508': 8704.0,
  '201509': 8155.0,
  '201510': 8228.0},
 'Payment cards ': {'201301': 713.0,
  '201302': 791.0,
  '201303': 935.0,
  '201304': 800.0,
  '201305': 766.0,
  '201306': 925.0,
  '201307': 795.0,
  '201308': 975.0,
  '201309': 1221.0,
  '201310': 1157.0,
  '201311': 1383.0,
  '201312': 2568.0,
  '201401': 1771.0,
  '201402': 2148.0,
  '201403': 2132.0,
  '201404': 2789.0,
  '201405': 1649.0,
  '201406': 1726.0,
  '201407': 1394.0,
  '201408': 1845.0,
  '201409': 1974.0,
  '201410': 2126.0,
  '201411': 2475.0,
  '201412': 3339.0,
  '201501': 3183.0,
  '201502': 2095.0,
  '201503': 2087.0,
  '201504': 1287.0,
  '201505': 1252.0,
  '201506': 1170.0,
  '201507': 990.0,
  '201508': 1164.0,
  '201509': 1128.0,
  '201510': 1130.0},
 'Programs ': {'201301': 4138.0,
  '201302': 3933.0,
  '201303': 3718.0,
  '201304': 3104.0,
  '201305': 2432.0,
  '201306': 2340.0,
  '201307': 2471.0,
  '201308': 2501.0,
  '201309': 2783.0,
  '201310': 2822.0,
  '201311': 2896.0,
  '201312': 3078.0,
  '201401': 2846.0,
  '201402': 2449.0,
  '201403': 2395.0,
  '201404': 2045.0,
  '201405': 1584.0,
  '201406': 1601.0,
  '201407': 1678.0,
  '201408': 1704.0,
  '201409': 1882.0,
  '201410': 2049.0,
  '201411': 2061.0,
  '201412': 2469.0,
  '201501': 2105.0,
  '201502': 1734.0,
  '201503': 1620.0,
  '201504': 1471.0,
  '201505': 1179.0,
  '201506': 1049.0,
  '201507': 1113.0,
  '201508': 1052.0,
  '201509': 1145.0,
  '201510': 1507.0},
 'Tickets (figure)': {'201301': nan,
  '201302': nan,
  '201303': nan,
  '201304': nan,
  '201305': nan,
  '201306': nan,
  '201307': nan,
  '201308': nan,
  '201309': nan,
  '201310': nan,
  '201311': nan,
  '201312': nan,
  '201401': nan,
  '201402': nan,
  '201403': nan,
  '201404': nan,
  '201405': nan,
  '201406': nan,
  '201407': 116.0,
  '201408': 335.0,
  '201409': 5263.0,
  '201410': 1873.0,
  '201411': nan,
  '201412': nan,
  '201501': nan,
  '201502': nan,
  '201503': nan,
  '201504': 45.0,
  '201505': 147.0,
  '201506': 117.0,
  '201507': 193.0,
  '201508': 483.0,
  '201509': 5128.0,
  '201510': -1.0}}

In [38]:
ak2.head()

def getsumcate(yearmonth, cate):
    return sumcate[cate][yearmonth]

ak2["catesum"] = list(map(getsumcate, ak2.yearmonth, ak2.big_cate))
ak2.head()

            yearmonth                big_cate      item_cnt_day  \
en_category                                   Accessories - PS2
0              201301            Accessories                1.0
1              201301                  Books                0.0
2              201301                 Cinema                0.0
3              201301  Clean carriers (spire)               0.0
4              201301     Clean media (piece)               0.0

                                                                   \
en_category Accessories - PS3 Accessories - PS4 Accessories - PSP
0                      1390.0             440.0             251.0
1                         0.0               0.0               0.0
2                         0.0               0.0               0.0
3                         0.0               0.0               0.0
4                         0.0               0.0               0.0

                                                         \
en_category Accessories - PSVita Accessories - XBOX 360
0                          623.0                  870.0
1                            0.0                    0.0
2                            0.0                    0.0
3                            0.0                    0.0
4                            0.0                    0.0

                                                           ...     \
en_category Accessories - XBOX ONE Android games - Digit   ...
0                              0.0                   0.0   ...
1                              0.0                   0.0   ...
2                              0.0                   0.0   ...
3                              0.0                   0.0   ...
4                              0.0                   0.0   ...

                                                                   \
en_category Payment cards - PSN Payment cards - Windows (Digital)
0                           0.0                               0.0
1                           0.0                               0.0
2                           0.0                               0.0
3                           0.0                               0.0
4                           0.0                               0.0

                                                                    \
en_category Programs - 1C: Enterprise 8 Programs - Home and Office
0                                   0.0                        0.0
1                                   0.0                        0.0
2                                   0.0                        0.0
3                                   0.0                        0.0
4                                   0.0                        0.0

                                                                         \
en_category Programs - Home and Office (Figure) Programs - MAC (Number)
0                                           0.0                     0.0
1                                           0.0                     0.0
2                                           0.0                     0.0
3                                           0.0                     0.0
4                                           0.0                     0.0

                                                               \
en_category Programs - Teaching Programs - Teaching (Numbers)
0                           0.0                           0.0
1                           0.0                           0.0
2                           0.0                           0.0
3                           0.0                           0.0
4                           0.0                           0.0

                              catesum
en_category Tickets (figure)
0                        0.0   3575.0
1                        0.0   2625.0
2                        0.0  43002.0
3                        0.0    177.0
4                        0.0   1374.0

[5 rows x 87 columns]

In [39]:
ak3 = ak2.copy()
ak3.columns

columnlist = ak3.columns[2:-1].tolist()

# Bigcate로 전체의 흐름을 선형회귀하고, 전체의 흐름 안에서 각 카테고리별로 3개년의 평균 판매량을 가중치로 걸어서, 각 item의 판매량의 근사치로 이용한다...

In [40]:
pre_data_with_cate.head()

,shop_id,item_id,item_price,item_cnt_day,en_shop,Region,day,month,year,item_category_id,big_cate,en_category,yearmonth
0,59,22154,999.0,1.0,"Yaroslavl Shopping center ""Altair""",Yaroslavl,02,01,2013,37,Cinema,Cinema - Blu-Ray,201301
1,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,02,01,2013,37,Cinema,Cinema - Blu-Ray,201301
2,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,03,01,2013,37,Cinema,Cinema - Blu-Ray,201301
3,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,20,01,2013,37,Cinema,Cinema - Blu-Ray,201301
4,25,22154,999.0,1.0,"Moscow TRK ""Atrium""",Moscow,23,01,2013,37,Cinema,Cinema - Blu-Ray,201301

In [41]:
alpha = DataFrame(pre_data_with_cate.groupby(["yearmonth", "en_category", "big_cate"])["item_cnt_day"].sum())
alpha.reset_index(inplace=True)
alpha.head()

  yearmonth           en_category      big_cate  item_cnt_day
0    201301     Accessories - PS2  Accessories            1.0
1    201301     Accessories - PS3  Accessories         1390.0
2    201301     Accessories - PS4  Accessories          440.0
3    201301     Accessories - PSP  Accessories          251.0
4    201301  Accessories - PSVita  Accessories          623.0

In [42]:
def getsumcate(yearmonth, cate):
    return sumcate[cate][yearmonth]

alpha["catesum"] = list(map(getsumcate, alpha.yearmonth, alpha.big_cate))
alpha.head()

  yearmonth           en_category      big_cate  item_cnt_day  catesum
0    201301     Accessories - PS2  Accessories            1.0   3575.0
1    201301     Accessories - PS3  Accessories         1390.0   3575.0
2    201301     Accessories - PS4  Accessories          440.0   3575.0
3    201301     Accessories - PSP  Accessories          251.0   3575.0
4    201301  Accessories - PSVita  Accessories          623.0   3575.0

In [43]:
def portion(smallcate, catesum):
    return smallcate / catesum
alpha["percent"] = list(map(portion, alpha.item_cnt_day, alpha.catesum))
alpha.head()

,yearmonth,en_category,big_cate,item_cnt_day,catesum,percent
0,201301,Accessories - PS2,Accessories,1.0,3575.0,0.000280
1,201301,Accessories - PS3,Accessories,1390.0,3575.0,0.388811
2,201301,Accessories - PS4,Accessories,440.0,3575.0,0.123077
3,201301,Accessories - PSP,Accessories,251.0,3575.0,0.070210
4,201301,Accessories - PSVita,Accessories,623.0,3575.0,0.174266

In [44]:
portionincate = DataFrame(alpha.groupby("en_category")["percent"].mean())
portionincate["en_category"] = portionincate.index.get_level_values(0)
portionincate.head()

                       percent           en_category
en_category
Accessories - PS2     0.000322     Accessories - PS2
Accessories - PS3     0.220878     Accessories - PS3
Accessories - PS4     0.353673     Accessories - PS4
Accessories - PSP     0.032422     Accessories - PSP
Accessories - PSVita  0.086798  Accessories - PSVita

In [45]:
merged_category.head()
big_merged_category = pd.merge(merged_category, portionincate, on="en_category", how="inner")
big_merged_category.head()

,item_category_id,en_category,big_cate,idx_of_bigcate,percent
0,0,PC - Headsets / Headphones,PC,15,1.000000
1,1,Accessories - PS2,Accessories,0,0.000322
2,2,Accessories - PS3,Accessories,0,0.220878
3,3,Accessories - PS4,Accessories,0,0.353673
4,4,Accessories - PSP,Accessories,0,0.032422

In [46]:
train_df = pd.read_csv("../data/sales_train_v2.csv")
train_df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [47]:
store = DataFrame(train_df.groupby(["date_block_num", "shop_id"])["item_cnt_day"].sum())
shoplist = store.loc[33].index.tolist() # 33이 있는 샵만 적어놓기

In [48]:
date_df = pd.DataFrame(train_df["date"].str.split(".").tolist(),  columns = ['day','month','year'])
pre_df = pd.merge(train_df, date_df, left_index=True, right_index=True)
del pre_df["date"]
del pre_df["date_block_num"]
del item_df["item_name"]
pre_df.head()

   shop_id  item_id  item_price  item_cnt_day day month  year
0       59    22154      999.00           1.0  02    01  2013
1       25     2552      899.00           1.0  03    01  2013
2       25     2552      899.00          -1.0  05    01  2013
3       25     2554     1709.05           1.0  06    01  2013
4       25     2555     1099.00           1.0  15    01  2013

In [49]:
# del item_df["item_name"]
item_df.head()

   item_id  item_category_id
0        0                40
1        1                76
2        2                40
3        3                40
4        4                40

In [50]:
merged_df = pd.merge(pre_df, item_df, on='item_id', how="inner")
merged_df.head()

,shop_id,item_id,item_price,item_cnt_day,day,month,year,item_category_id
0,59,22154,999.0,1.0,02,01,2013,37
1,24,22154,999.0,1.0,23,01,2013,37
2,27,22154,999.0,1.0,20,01,2013,37
3,25,22154,999.0,1.0,02,01,2013,37
4,25,22154,999.0,1.0,03,01,2013,37

In [51]:
big_merged_category.head()

,item_category_id,en_category,big_cate,idx_of_bigcate,percent
0,0,PC - Headsets / Headphones,PC,15,1.000000
1,1,Accessories - PS2,Accessories,0,0.000322
2,2,Accessories - PS3,Accessories,0,0.220878
3,3,Accessories - PS4,Accessories,0,0.353673
4,4,Accessories - PSP,Accessories,0,0.032422

In [52]:
working_df = pd.merge(merged_df, big_merged_category[["item_category_id", "big_cate" ,"percent"]], on="item_category_id", how="inner")
working_df["yearmonth"] = list(map(lambda x,y : str(x) + str(y), working_df.year, working_df.month))
working_df.head()
working_df.shape

(2935849, 11)

In [53]:
doit = working_df.groupby(["yearmonth", "big_cate"])["item_cnt_day"].mean()
doit = doit.reset_index()
doit = doit.as_matrix()

In [54]:
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing

In [55]:
columnum = [0,1]
for column_index in  columnum:
    le = preprocessing.LabelEncoder()
    le.fit(doit[:,column_index])
    doit[:,column_index] = le.transform(doit[:,column_index])
    del le

doit

array([[0, 0, 1.1116293532338308],
       [0, 2, 1.05126151381658],
       [0, 3, 1.1200770993957074],
       ...,
       [33, 17, 1.396786155747837],
       [33, 18, 1.2858361774744027],
       [33, 19, -1.0]], dtype=object)

In [56]:
doit[:,0:2]

# doit.replace(columns={doit.yearmonth : letgetit[0], doit.big_cate : letgetit[1]})

array([[0, 0],
       [0, 2],
       [0, 3],
       ...,
       [33, 17],
       [33, 18],
       [33, 19]], dtype=object)

In [57]:
one_hot_attr = doit[:,0:2]
one_hot_attr

array([[0, 0],
       [0, 2],
       [0, 3],
       ...,
       [33, 17],
       [33, 18],
       [33, 19]], dtype=object)

In [58]:
onehot_enc = OneHotEncoder()
onehot_enc.fit(one_hot_attr.astype(int))

OneHotEncoder(categorical_features='all', dtype=<class 'numpy.float64'>,
       handle_unknown='error', n_values='auto', sparse=True)

In [59]:
test_category_values = onehot_enc.transform(one_hot_attr.astype(int))

In [60]:
test_category_values

<518x54 sparse matrix of type '<class 'numpy.float64'>'
	with 1036 stored elements in Compressed Sparse Row format>